mixin pfc(name, id, constant)
  tr(id="pfc_" + id, data-tdee-constant=constant)
    td #{name}
    td.p 0
    td.f 0
    td.c 0

doctype html
html(data-ts-native)
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title PFC Calculator
    link(rel="apple-touch-icon", sizes="180x180", href="/assets/apple-touch-icon.png")
    link(rel="icon", type="image/png", href="/assets/favicon-32x32.png", sizes="32x32")
    link(rel="icon", type="image/png", href="/assets/favicon-16x16.png", sizes="16x16")
    link(rel="manifest", href="/assets/manifest.json")
    link(rel="mask-icon", href="/assets/safari-pinned-tab.svg", color="#5bbad5")
    link(rel="shortcut icon", href="/assets/favicon.ico")
    meta(name="msapplication-config", content="/assets/browserconfig.xml")
    meta(name="theme-color", content="#ffffff")
    //- link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
    //- link(rel="apple-touch-icon", sizes="57x57", href="/apple-touch-icon-57x57.png")
    //- link(rel="apple-touch-icon", sizes="60x60", href="/apple-touch-icon-60x60.png")
    //- link(rel="apple-touch-icon", sizes="72x72", href="/apple-touch-icon-72x72.png")
    //- link(rel="apple-touch-icon", sizes="76x76", href="/apple-touch-icon-76x76.png")
    //- link(rel="apple-touch-icon", sizes="114x114", href="/apple-touch-icon-114x114.png")
    //- link(rel="apple-touch-icon", sizes="120x120", href="/apple-touch-icon-120x120.png")
    //- link(rel="apple-touch-icon", sizes="144x144", href="/apple-touch-icon-144x144.png")
    //- link(rel="apple-touch-icon", sizes="152x152", href="/apple-touch-icon-152x152.png")
    //- link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon-180x180.png")
    //- link(rel="icon", type="image/png", href="/favicon-16x16.png", sizes="16x16")
    //- link(rel="icon", type="image/png", href="/favicon-32x32.png", sizes="32x32")
    //- link(rel="icon", type="image/png", href="/favicon-96x96.png", sizes="96x96")
    //- link(rel="icon", type="image/png", href="/android-chrome-192x192.png", sizes="192x192")
    //- meta(name="msapplication-square70x70logo", content="/smalltile.png")
    //- meta(name="msapplication-square150x150logo", content="/mediumtile.png")
    //- meta(name="msapplication-wide310x150logo", content="/widetile.png")
    //- meta(name="msapplication-square310x310logo", content="/largetile.png")

    link(rel='stylesheet', href='//cdn.rawgit.com/TeaMeow/TocasUI/master/dist/tocas.min.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
  body
    .ts.text.container(style="margin-top: 1em; margin-bottom: 3em")
      .ts.grid
        .sixteen.wide.column
          h1.ts.header
            | 計算每日所需消耗蛋白質、脂肪、碳水化合物
          .ts.section.divider
        .sixteen.wide.column(style="margin-bottom: 1em")
          .ts.form
            .fields
              .six.wide.field
                label
                  | 性別
                .ts.fluid.buttons
                  if gender == "male"
                    button.ts.labeled.icon.inverted.button#male(data-selected="yes")
                      i.check.circle.icon
                      | 男性
                    button.ts.labeled.icon.negative.button#female(data-selected="no")
                      i.female.icon
                      | 女性
                  else if gender == "female"
                    button.ts.labeled.icon.inverted.button#male(data-selected="no")
                      i.male.icon
                      | 男性
                    button.ts.labeled.icon.negative.button#female(data-selected="yes")
                      i.check.circle.icon
                      | 女性
                  else
                    button.ts.labeled.icon.inverted.button#male(data-selected="no")
                      i.male.icon
                      | 男性
                    button.ts.labeled.icon.negative.button#female(data-selected="no")
                      i.female.icon
                      | 女性
              .four.wide.field
                label
                  | 年齡
                .ts.fluid.right.labeled.input
                  if age
                    input#age(type='tel', value=age)
                  else
                    input#age(type='tel')
                  .ts.basic.label
                    | 歲
              .three.wide.field
                label
                  | 身高
                .ts.fluid.right.labeled.input
                  if height
                    input#height(type='tel', value=height)
                  else
                    input#height(type='tel')
                  .ts.basic.label
                    | cm
              .three.wide.field
                label
                  | 體重
                .ts.fluid.right.labeled.input
                  if weight
                    input#weight(type='tel', value=weight)
                  else
                    input#weight(type='tel')
                  .ts.basic.label
                    | kg
        .sixteen.wide.column
          table.ts.fixed.table#result
            thead
              tr
                th 運動情況
                th P
                th F
                th C
            tbody
              +pfc("久坐", "sedentary", 1.2)
              +pfc("輕微運動", "light", 1.375)
              +pfc("中度運動", "moderate", 1.55)
              +pfc("高度運動", "very", 1.725)
              +pfc("極端運動", "extreme", 1.9)
            tfoot
              tr
                th(colspan="4")
                  | P：Protein（蛋白質），F：Fat（脂肪），C：Carbohydrate（碳水化合物）。
                  | 以上數據單位均為
                  b
                    |公克（g）
                  |。
  script.
    var base_url = "!{_base_url}";

    var calculate = function() {
      updateAutoFillURL();

      var weight = $("#weight").val();
      var height = $("#height").val();
      var age = $("#age").val();

      var bw = weight * 2.2;

      if ($("#male").data('selected') == "yes") {
        var bmr = (13.7 * weight + 5 * height - 6.8 * age) + 66;
      } else {
        var bmr = (9.6 * weight + 1.8 * height - 4.7 * age) + 655;
      }

      var r = function (f) {
        return Math.round(f);
      }

      $("table#result tbody tr").each(function() {
        var p = r(bw * 1.1),
            f = r(bw * 0.4),
            c = r((bmr * $(this).data("tdee-constant") - 4 * p - 9 * f) / 4);

        if (weight == "" || height == "" || age == "" || $("#male").data('selected') == $("#female").data('selected') == "no") {
          p = f = c = 0;
        }

        $("td.p", this).text(p);
        $("td.f", this).text(f);
        $("td.c", this).text(c);
      });
    };

    var genderSwitchToMale = function () {
      $("#male i").attr('class', 'check circle icon');
      $("#female i").attr('class', 'female icon');

      $("#male").data('selected', 'yes');
      $("#female").data('selected', 'no');

      calculate();
    }

    var genderSwitchToFemale = function () {
      $("#female i").attr('class', 'check circle icon');
      $("#male i").attr('class', 'male icon');

      $("#female").data('selected', 'yes');
      $("#male").data('selected', 'no');

      calculate();
    }
    
    var updateURL = function (url) {
      return history.pushState('' ,'', url);
    }
    
    var updateAutoFillURL = function () {
      var finalURL = "";
      var weight = $("#weight").val();
      var height = $("#height").val();
      var age = $("#age").val();

      if ($("#male").data('selected') == "yes") {
        finalURL += "/male";
      } else if ($("#female").data('selected') == "yes") {
        finalURL += "/female";
      } else {
        updateURL(finalURL);
        return;
      }

      if (age != "") {
        finalURL += "/" + age;
      } else {
        updateURL(finalURL);
        return;
      }

      if (height != "") {
        finalURL += "/" + height;
      } else {
        updateURL(finalURL);
        return;
      }

      if (weight != "") {
        finalURL += "/" + weight;
      } else {
        updateURL(finalURL);
        return;
      }

      updateURL(finalURL);
    }

    $("#weight").keyup(calculate);
    $("#height").keyup(calculate);
    $("#age").keyup(calculate);
    $("#male").click(genderSwitchToMale);
    $("#female").click(genderSwitchToFemale);
  if gender && age && height && weight
    script.
      calculate();
